<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wallyson.com.br.mypocket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.AccountActivity" />
        <activity android:name=".view.CardActivity" />
        <activity android:name=".view.DeleteActivity" />
        <activity android:name=".view.SpendingActivity" />
        <activity android:name=".view.BalanceActivity" />
        <activity android:name=".view.SpendingCategoryActivity" />
        <activity android:name=".view.SpendingYearActivity" />
        <activity android:name=".view.SpendingMonthActivity" />
        <activity android:name=".view.InitialActivity" />
        <activity android:name=".view.ConfigurationActivity"></activity>
    </application>

</manifest>
